.footer_container{
    background-color: $darkGray;
    height: 168px;
}
.footer_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 20px;
}
.footer_item{
    width: 300px;
    h1{
        color: $lightPink;
        margin-bottom: 15px;
    }
    p, a{
        color: #fff;
    }
    .github_icon{
        color: $lightPink;
        font-size: 18px;
        margin-right: 10px;
    }
}

@media screen and(max-width: 600px){
    .footer_container{
        height: 270px;
    }
    .footer_content{
        flex-direction: column;
    }
    .footer_item:last-of-type{
        margin-top: 30px;
    }
}