.pagination_ul{
    height: 30px;
    display: flex;
    list-style: none;
    margin-bottom: 20px;
}
.pagination_hidden{
    visibility: hidden;
}
.pagination_li{
    flex: 1;
    outline: 1px solid $lightPink;
    a{
        transition: background-color 0.1s ease-in-out;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $darkPink;
        color: #fff;
        &:hover{
            background-color: $lightPink;
        }
    }
}
.pagination_li_active{
    a{
        background-color: $lightPink;
    }
}