//Search Section
.search_section_wrapper{
    overflow: hidden;
    position: relative;
    z-index: 2;
    background-color: #fff;
    display: flex;
}
.search_section{
    display: flex;
}

//Search Block
.search{
    width: calc(100% - 250px);
    min-height: 600px;
    height: 100%;
}
.select_form_bar{
    position: relative;
    color: $lightPink;
    display: flex;
    align-items: center;
    padding: 15px 0;
    .select_form_item:first-of-type{
        margin-right: 20px;
    }
}
.select_form_bar_background{
    position: absolute;
    z-index: -1;
    background-color: $darkGray;
    right: 0;
    top: 0;
    width: 1500px;
    height: 100%;
}
.select_form_item{
    cursor: pointer;
    color: $lightPink;
    .select_form_item_line{
        height: 3px;
        margin: 0 auto;
        transition: width 0.3s ease-in-out;
        width: 0;
        background-color: $lightPink;
    }
    &:hover{
        .select_form_item_line{
            width: 100%;
        }
    }
}
.select_form_item_active{
    .select_form_item_line{
        width: 100%;
    }
}


//Short Description
.short_description_wrapper{
    z-index: 4;
    position: relative;
    width: 300px;
}
.short_description{
    position: relative;
    padding: 2rem;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    h3,ul{
        color: $lightPink
    }
    h3{
        margin-bottom: 20px;
    }
    .short_description_text_vertical_offset{
        margin: 20px 0;
    }
    ul{
        text-indent: 30px;
        li{
            margin: 5px 0;
        }
        margin-bottom: 20px;
    }
}
.short_description_background{
    background-color: $lightGray;
    position: absolute;
    width: 1000px;
    height: 100%;
    left: 0;
    top: 0;
}
.show_description_open{
    cursor: pointer;
    margin: 0 20px 0 auto;
    display: none;
    align-items: center;
    font-size: calc(8px + 1vmin);
    i{
        font-size: 16px;
        margin-left: 5px;
    }
}
.short_description_close_button{
    display: none;
}




@media screen and(min-width: 2000px){
    .search{
        margin: 0 auto;
    }
    .short_description_wrapper{
        position: absolute;
        height: 100%;
        right: 0;
    }
    .select_form_bar_background{
        right: -1000px;
        left: -1000px;
        width: unset;
    }
}

@media screen and(max-width: 1000px){
    .search_section{
        width: 100%;
    }
    .search{
        width: 100%;
    }
    .short_description_wrapper{
        animation: unset;
        width: 100%;
        position: fixed;
        visibility: hidden;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;     
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    @keyframes short_description_show{
        0%{
            visibility: hidden;
            opacity: 0;
        }
        100%{
            visibility: visible;
            opacity: 1;
        }
    }
    @keyframes short_description_hide{
        0%{
            visibility: visible;
            opacity: 1;
        }
        100%{
            visibility: hidden;
            opacity: 0;  
        }
    }
    .short_description{
        max-width: 500px;
        width: 100%;
        height: fit-content;
        i{
            font-size: 24px;
        }
        h3{
            margin-top: 20px;
        }
    }

    //Shord description open
    .show_description_open{
        margin: 0 0 0 auto;
        display: flex;
    }
    .short_description_close_button{
        display: block;
    }
    //Search form bar absolute background
    .select_form_bar_background{
        right: -300px;
    }
}