@font-face {
  src: url("../fonts/Roboto.ttf");
  font-family: Roboto;
}

.header {
  position: relative;
  z-index: 1;
}

.navigation_wrapper {
  background-color: #5a0f0f;
  padding: 1em 0;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation_title {
  font-weight: normal;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: calc(18px + 2vmin);
  margin-right: 1em;
}

.navigation_title a {
  color: #c75e70;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.navigation_title a:hover {
  color: #913f3f;
}

.navigation_about_button {
  display: block;
  position: relative;
  padding-left: 0.5em;
}

.navigation_about_button h3, .navigation_about_button p {
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.navigation_about_button h3 {
  font-size: calc(10px + 1vmin);
  color: #fff;
  margin-top: -5px;
}

.navigation_about_button p {
  font-size: calc(8px + 1vmin);
  color: #c75e70;
  margin-bottom: -8px;
}

.navigation_about_button .navigation_about_button_line {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: -4px;
  width: 4px;
  background-color: #fff;
  height: 100%;
}

.navigation_about_button:hover h3 {
  color: #c75e70;
}

.navigation_about_button:hover p {
  color: #fff;
}

@-webkit-keyframes navigation_about_button_mouseover {
  0% {
    height: 100%;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 80%;
  }
}

@keyframes navigation_about_button_mouseover {
  0% {
    height: 100%;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 80%;
  }
}

@-webkit-keyframes navigation_about_button_mouseout {
  0% {
    height: 80%;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 100%;
  }
}

@keyframes navigation_about_button_mouseout {
  0% {
    height: 80%;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 100%;
  }
}

.header_app_description {
  background-color: #272727;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-size: calc(10px + 1vmin);
}

.header_app_description a {
  color: #c75e70;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.header_app_description a:hover {
  color: #913f3f;
}

.header_image {
  position: relative;
  z-index: 2;
  display: block;
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 425px) {
  .navigation_title {
    font-size: calc(14px + 2vmin);
  }
  .navigation_about_button h3 {
    margin-top: -4px;
  }
}

.footer_container {
  background-color: #272727;
  height: 168px;
}

.footer_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 20px;
}

.footer_item {
  width: 300px;
}

.footer_item h1 {
  color: #c75e70;
  margin-bottom: 15px;
}

.footer_item p, .footer_item a {
  color: #fff;
}

.footer_item .github_icon {
  color: #c75e70;
  font-size: 18px;
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  .footer_container {
    height: 270px;
  }
  .footer_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_item:last-of-type {
    margin-top: 30px;
  }
}

.search_section_wrapper {
  overflow: hidden;
  position: relative;
  z-index: 2;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search {
  width: calc(100% - 250px);
  min-height: 600px;
  height: 100%;
}

.select_form_bar {
  position: relative;
  color: #c75e70;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.select_form_bar .select_form_item:first-of-type {
  margin-right: 20px;
}

.select_form_bar_background {
  position: absolute;
  z-index: -1;
  background-color: #272727;
  right: 0;
  top: 0;
  width: 1500px;
  height: 100%;
}

.select_form_item {
  cursor: pointer;
  color: #c75e70;
}

.select_form_item .select_form_item_line {
  height: 3px;
  margin: 0 auto;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  width: 0;
  background-color: #c75e70;
}

.select_form_item:hover .select_form_item_line {
  width: 100%;
}

.select_form_item_active .select_form_item_line {
  width: 100%;
}

.short_description_wrapper {
  z-index: 4;
  position: relative;
  width: 300px;
}

.short_description {
  position: relative;
  padding: 2rem;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
}

.short_description h3, .short_description ul {
  color: #c75e70;
}

.short_description h3 {
  margin-bottom: 20px;
}

.short_description .short_description_text_vertical_offset {
  margin: 20px 0;
}

.short_description ul {
  text-indent: 30px;
  margin-bottom: 20px;
}

.short_description ul li {
  margin: 5px 0;
}

.short_description_background {
  background-color: #F5F5F5;
  position: absolute;
  width: 1000px;
  height: 100%;
  left: 0;
  top: 0;
}

.show_description_open {
  cursor: pointer;
  margin: 0 20px 0 auto;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(8px + 1vmin);
}

.show_description_open i {
  font-size: 16px;
  margin-left: 5px;
}

.short_description_close_button {
  display: none;
}

@media screen and (min-width: 2000px) {
  .search {
    margin: 0 auto;
  }
  .short_description_wrapper {
    position: absolute;
    height: 100%;
    right: 0;
  }
  .select_form_bar_background {
    right: -1000px;
    left: -1000px;
    width: unset;
  }
}

@media screen and (max-width: 1000px) {
  .search_section {
    width: 100%;
  }
  .search {
    width: 100%;
  }
  .short_description_wrapper {
    -webkit-animation: unset;
            animation: unset;
    width: 100%;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  @-webkit-keyframes short_description_show {
    0% {
      visibility: hidden;
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }
  @keyframes short_description_show {
    0% {
      visibility: hidden;
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }
  @-webkit-keyframes short_description_hide {
    0% {
      visibility: visible;
      opacity: 1;
    }
    100% {
      visibility: hidden;
      opacity: 0;
    }
  }
  @keyframes short_description_hide {
    0% {
      visibility: visible;
      opacity: 1;
    }
    100% {
      visibility: hidden;
      opacity: 0;
    }
  }
  .short_description {
    max-width: 500px;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .short_description i {
    font-size: 24px;
  }
  .short_description h3 {
    margin-top: 20px;
  }
  .show_description_open {
    margin: 0 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .short_description_close_button {
    display: block;
  }
  .select_form_bar_background {
    right: -300px;
  }
}

.form {
  margin-top: 20px;
  margin: 20px 40px 40px 0;
}

.form h1 {
  font-size: 36px;
  font-weight: normal;
}

.form form {
  position: relative;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.form form .simple_form_spam_error_message {
  position: absolute;
  font-size: 12px;
  bottom: -32px;
  padding: 5px 10px;
  color: #fff;
  background-color: #c75e70;
}

.form form .simple_form_spam_error_message i {
  font-size: 14px;
  margin-right: 5px;
}

.form form input[type=text] {
  border: none;
  border: 1.5px solid #000;
  border-radius: 7px;
  padding: 10px;
  width: 90%;
}

.form form input[type=text]:focus {
  border-color: #5a0f0f;
}

.form form input[type=submit] {
  cursor: pointer;
  margin-left: -5px;
  border: none;
  border: 2px solid #c75e70;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 10px;
  color: #fff;
  background-color: #5a0f0f;
}

.form_line {
  background-color: #F5F5F5;
  height: 2px;
  border: none;
  margin: 40px 0 20px 0;
}

.booklist_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.booklist_item_wrapper {
  margin-bottom: 40px;
}

.booklist_item {
  width: 128px;
}

.booklist_item_category {
  margin-bottom: 10px;
  font-size: 14px;
  display: block;
}

.booklist_item_image {
  border: 2px solid #5a0f0f;
}

.booklist_item_title {
  margin-top: 5px;
  border-left: 3px solid #5a0f0f;
  padding-left: 5px;
}

.booklist_item_authors {
  font-weight: normal;
  margin-top: 5px;
}

.booklist_item_line {
  border: none;
  height: 1px;
  background-color: #c75e70;
  margin: 15px 0 10px 0;
}

.booklist_item_price {
  font-size: 14px;
}

.search-alert {
  position: relative;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
}

.search-alert:before {
  content: '';
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#5a0f0f), to(transparent));
  background: linear-gradient(to right, #5a0f0f, transparent);
}

.search-alert img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.search-alert h1 {
  color: #fff;
  position: relative;
  z-index: 3;
  font-size: 32px;
  font-weight: normal;
  margin-left: 30px;
}

@media screen and (max-width: 1000px) {
  .form {
    margin: 40px 0;
  }
  .search-alert {
    margin: 0;
  }
}

@media screen and (max-width: 650px) {
  .booklist_container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .booklist_item {
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .booklist_container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

.loader {
  position: relative;
  -webkit-transform: translate(calc(50% - 20px), 50px);
          transform: translate(calc(50% - 20px), 50px);
}

.loader div {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #5a0f0f;
}

.loader div:nth-child(1) {
  -webkit-transform: translate(-20px, -20px);
          transform: translate(-20px, -20px);
  -webkit-animation: 2s animateBlock1 ease-in-out infinite;
          animation: 2s animateBlock1 ease-in-out infinite;
}

.loader div:nth-child(2) {
  -webkit-transform: translate(20px, -20px);
          transform: translate(20px, -20px);
  -webkit-animation: 2s animateBlock2 ease-in-out infinite;
          animation: 2s animateBlock2 ease-in-out infinite;
}

.loader div:nth-child(3) {
  -webkit-transform: translate(20px, 20px);
          transform: translate(20px, 20px);
  -webkit-animation: 2s animateBlock3 ease-in-out infinite;
          animation: 2s animateBlock3 ease-in-out infinite;
}

.loader div:nth-child(4) {
  -webkit-transform: translate(-20px, 20px);
          transform: translate(-20px, 20px);
  -webkit-animation: 2s animateBlock4 ease-in-out infinite;
          animation: 2s animateBlock4 ease-in-out infinite;
}

@-webkit-keyframes animateBlock1 {
  0% {
    -webkit-transform: translate(-20px, -20px);
            transform: translate(-20px, -20px);
  }
  20% {
    -webkit-transform: translate(20px, -20px);
            transform: translate(20px, -20px);
  }
  50% {
    -webkit-transform: translate(20px, 20px);
            transform: translate(20px, 20px);
  }
  75% {
    -webkit-transform: translate(-20px, 20px);
            transform: translate(-20px, 20px);
  }
  100% {
    -webkit-transform: translate(-20px, -20px);
            transform: translate(-20px, -20px);
  }
}

@keyframes animateBlock1 {
  0% {
    -webkit-transform: translate(-20px, -20px);
            transform: translate(-20px, -20px);
  }
  20% {
    -webkit-transform: translate(20px, -20px);
            transform: translate(20px, -20px);
  }
  50% {
    -webkit-transform: translate(20px, 20px);
            transform: translate(20px, 20px);
  }
  75% {
    -webkit-transform: translate(-20px, 20px);
            transform: translate(-20px, 20px);
  }
  100% {
    -webkit-transform: translate(-20px, -20px);
            transform: translate(-20px, -20px);
  }
}

@-webkit-keyframes animateBlock2 {
  0% {
    -webkit-transform: translate(20px, -20px);
            transform: translate(20px, -20px);
  }
  20% {
    -webkit-transform: translate(20px, 20px);
            transform: translate(20px, 20px);
  }
  50% {
    -webkit-transform: translate(-20px, 20px);
            transform: translate(-20px, 20px);
  }
  75% {
    -webkit-transform: translate(-20px, -20px);
            transform: translate(-20px, -20px);
  }
  100% {
    -webkit-transform: translate(20px, -20px);
            transform: translate(20px, -20px);
  }
}

@keyframes animateBlock2 {
  0% {
    -webkit-transform: translate(20px, -20px);
            transform: translate(20px, -20px);
  }
  20% {
    -webkit-transform: translate(20px, 20px);
            transform: translate(20px, 20px);
  }
  50% {
    -webkit-transform: translate(-20px, 20px);
            transform: translate(-20px, 20px);
  }
  75% {
    -webkit-transform: translate(-20px, -20px);
            transform: translate(-20px, -20px);
  }
  100% {
    -webkit-transform: translate(20px, -20px);
            transform: translate(20px, -20px);
  }
}

@-webkit-keyframes animateBlock3 {
  0% {
    -webkit-transform: translate(20px, 20px);
            transform: translate(20px, 20px);
  }
  20% {
    -webkit-transform: translate(-20px, 20px);
            transform: translate(-20px, 20px);
  }
  50% {
    -webkit-transform: translate(-20px, -20px);
            transform: translate(-20px, -20px);
  }
  75% {
    -webkit-transform: translate(20px, -20px);
            transform: translate(20px, -20px);
  }
  100% {
    -webkit-transform: translate(20px, 20px);
            transform: translate(20px, 20px);
  }
}

@keyframes animateBlock3 {
  0% {
    -webkit-transform: translate(20px, 20px);
            transform: translate(20px, 20px);
  }
  20% {
    -webkit-transform: translate(-20px, 20px);
            transform: translate(-20px, 20px);
  }
  50% {
    -webkit-transform: translate(-20px, -20px);
            transform: translate(-20px, -20px);
  }
  75% {
    -webkit-transform: translate(20px, -20px);
            transform: translate(20px, -20px);
  }
  100% {
    -webkit-transform: translate(20px, 20px);
            transform: translate(20px, 20px);
  }
}

@-webkit-keyframes animateBlock4 {
  0% {
    -webkit-transform: translate(-20px, 20px);
            transform: translate(-20px, 20px);
  }
  20% {
    -webkit-transform: translate(-20px, -20px);
            transform: translate(-20px, -20px);
  }
  50% {
    -webkit-transform: translate(20px, -20px);
            transform: translate(20px, -20px);
  }
  75% {
    -webkit-transform: translate(20px, 20px);
            transform: translate(20px, 20px);
  }
  100% {
    -webkit-transform: translate(-20px, 20px);
            transform: translate(-20px, 20px);
  }
}

@keyframes animateBlock4 {
  0% {
    -webkit-transform: translate(-20px, 20px);
            transform: translate(-20px, 20px);
  }
  20% {
    -webkit-transform: translate(-20px, -20px);
            transform: translate(-20px, -20px);
  }
  50% {
    -webkit-transform: translate(20px, -20px);
            transform: translate(20px, -20px);
  }
  75% {
    -webkit-transform: translate(20px, 20px);
            transform: translate(20px, 20px);
  }
  100% {
    -webkit-transform: translate(-20px, 20px);
            transform: translate(-20px, 20px);
  }
}

.empty_image_loader {
  background-color: #c75e70;
}

.single_book_header_image_wrapper {
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.single_book_header_image {
  position: absolute;
  top: -20px;
  right: -20px;
  width: calc(100% + 50px);
  height: 120%;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Roboto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

*::-moz-selection {
  background: #c75e70;
}

*::selection {
  background: #c75e70;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fff1f3 inset !important;
          box-shadow: 0 0 0 30px #fff1f3 inset !important;
  -webkit-text-fill-color: #272727 !important;
}

html {
  font-size: 16px;
}

p {
  line-height: 25px;
}

.side_offset {
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .side_offset {
    width: 750px;
    padding: 0;
  }
}

@media (min-width: 1000px) {
  .side_offset {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .side_offset {
    width: 1170px;
  }
}
/*# sourceMappingURL=allStyles.css.map */