$darkPink: #5a0f0f;
$lightPink: #c75e70;
$hoverPink: #913f3f;
$extraLightPink: #fff1f3;
$darkGray: #272727;
$lightGray: #F5F5F5;

@mixin link_hover{
    transition: color 0.2s ease-in-out;
    &:hover{
        color: $hoverPink;
    }
}
@font-face{
    src: url('../fonts/Roboto.ttf');
    font-family: Roboto;
}

// imports
@import './header';
@import './footer';
@import './search';
@import './searchForm&Results';
@import './loaders';
@import './singleBook';
@import './notFound';

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Roboto;
    box-sizing: border-box;
    outline: none;
}
*::selection{
    background: $lightPink;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px $extraLightPink inset !important;
    -webkit-text-fill-color: $darkGray !important;
}

html{
    font-size: 16px;
}
p{
    line-height: 25px;
}
.side_offset{
    margin: 0 auto;
    padding: 0 1rem;
}
button{
    transition: background-color 0.1s ease-in-out;
    &:hover{
        background-color: $hoverPink;
    }
}
//Media queries
@media (min-width: 768px) {
    .side_offset {
        width: 750px;
        padding: 0;
    }
}
@media (min-width: 1000px) {
    .side_offset {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .side_offset {
        width: 1170px;
    }
}